div {
  box-sizing: border-box;
}
.App{
  width:90%;
  height:100%;
  border:10px solid palegoldenrod;
  margin:0 auto;
}
#word_card_title {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
.word_card_wrap {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color:darkkhaki;
}

.word_card {
  width: 20%;
  height: 300px;
  padding: 10px;
  margin: 15px;
  background-color:wheat;
  text-align: left;
  float:left;
  
}

h4 {
  display:block;
  margin:0;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.add_card_wrap {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color:darksalmon;
}

.input_text {
  width:200px;
  height:40px;
  font-size:16px;
  resize: none;
}

#add_card_button {
  display: block;
  width:100px;
  height:30px;
  margin: 10px auto;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  line-height: 30px;
  cursor: pointer;

}

#word_example {
  color: skyblue;
}